 /*Fonts*/
 @font-face {
    font-family: FontBasisB; 
    src: url('../fonts/firamono-bold-webfont.eot');
    src: url('../fonts/firamono-bold-webfont.svg') format('svg');
    src: url('../fonts/firamono-bold-webfont.ttf') format('truetype');
    src: url('../fonts/firamono-bold-webfont.woff') format('woff');
    src: url('../fonts/firamono-bold-webfont.woff2') format('woff2');
}
 @font-face {
    font-family: FontBasis; 
    src: url('../fonts/firamono-regular-webfont.eot'),
    	 url('../fonts/firamono-regular-webfont.svg') format('svg'),
    	 url('../fonts/firamono-regular-webfont.ttf') format('truetype'),
    	 url('../fonts/firamono-regular-webfont.woff') format('woff'),
    	 url('../fonts/firamono-regular-webfont.woff2') format('woff2');
}
 @font-face {
    font-family: ontBasisB; 
    src: url('../fonts/firasans-bolditalic-webfont.eot');
    src: url('../fonts/firasans-bolditalic-webfont.svg') format('svg');
    src: url('../fonts/firasans-bolditalic-webfont.ttf') format('truetype');
    src: url('../fonts/firasans-bolditalic-webfont.woff') format('woff');
    src: url('../fonts/firasans-bolditalic-webfont.woff2') format('woff2');
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-family: FontBasis, Arial;
	background: url("../img/bg.png") repeat;
	color: #4a545d;
}
/*Header*/
header {
	background: #eff3f7;
	padding: 33px 0;
	position: relative;
}
footer {
	background: #eff3f7;
	padding: 22px 0;
	position:  static;
	bottom: 0;
	left: 0;
	right: 0;
}
input:focus, textarea:focus {
	outline: none;
	border: 1px solid #58697a;
}
.dz4-form-control {
	padding: 14px 10px;
	padding-right: 0;
	border-radius: 5px;
	border: 1px solid #48cbe8;
	min-width: 190px;
}
.dz4-form-control_error {
	border: 1px solid #f97e76;
	background: #fad2d1;
}
.dz4-line__footer {
	margin-top: 25px;
}
.dz4-text__hidden {
	visibility: hidden;
	padding: 0;
	height: 0;
	margin: 0;
}
.dz4-container__header {
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.dz4-logo {
	float: left;
	overflow: hidden;
}
.dz4-soc-seti__item {
	margin: 0;
	padding: 0;
	float: right;
}
.dz4-soc-seti__item_li {
	list-style: none;
	display: inline-block;
}
.dz4-soc-seti {
	display: block;
	width: 47px;
	height: 47px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	margin-left: 26px;
}
 .dz4-soc-seti:first-child {
	 margin-left: 0;
 }
.dz4-soc-seti.vk {
	background: url(../img/icon/icon_soc_seti.png) -5px -119px;
}
.dz4-soc-seti.vk:hover {
	background: url(../img/icon/icon_soc_seti.png) -62px -119px;
}
.dz4-soc-seti.tv {
	background: url(../img/icon/icon_soc_seti.png) -119px -5px;
}
.dz4-soc-seti.tv:hover {
	background: url(../img/icon/icon_soc_seti.png) -119px -62px;
}
.dz4-soc-seti.fb {
	background: url(../img/icon/icon_soc_seti.png) -5px -5px;
}
.dz4-soc-seti.fb:hover {
	background: url(../img/icon/icon_soc_seti.png) -62px -5px;
}
.dz4-soc-seti.git {
	background: url(../img/icon/icon_soc_seti.png) -5px -62px;
}
.dz4-soc-seti.git:hover {
	background: url(../img/icon/icon_soc_seti.png) -62px -62px;
}

/*basis content*/
.dz4-container__content {
	width: 960px;
	margin: 0 auto;
	margin-top: 39px;
}

/*Левое меню*/
.div_left__menu {
	float: left;
	width: 250px;
	margin-right: 60px;
}
.dz4-nav {
	background: #eff3f7;
	border-radius: 5px;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 23px;
	overflow: hidden;
}

 .dz4-nav__li {
	display: block;
 }
.dz4-a_basis {
	display: block;
	text-decoration: none;
	padding:29px;
	color: #a9aeb9;
	cursor: default;
	white-space: nowrap;
	position: relative;
}
 .dz4-a_basis:after{
	 content: "";
	 width: 90%;
	 height: 2px;
	 background-color: #3ba8c0;
	 position: absolute;
	 top: -2px;
	 left:10px;
 }
.dz4-a_basis:hover {
	color: #3ba8c0
}
 .dz4-nav__li:first-child > .dz4-a_basis:after, .dz4-nav__li.dz4-activ > .dz4-a_basis:after {
	 height: 0;
 }
.dz4-activ a {
	background: #3ba8c0;
	color: #fff !important;
	cursor: auto;
	border-bottom: none;
}

/*меню контакты*/
.div_left__menu-contact {
	position: static !important;
	padding: 0;
}
.dz4-contact {
	margin: 0;
	padding: 14px 20px;
	background: #3ba8c0;
	color: #fff;
	border-bottom: none;
	position: relative;	
}
.title-contact {
	border-radius: 5px 5px 0 0 ;
}
.icon-email {
	background: #41b9d4;
	background-image: url(../img/icon/icon-mail.png);
	background-repeat: no-repeat;
	background-position:  15% center;
	padding-left: 30%;	
}
.icon-phone {
	background: #48cbe8;
	background-image: url(../img/icon/icon-tel.png);
	background-repeat: no-repeat;
	background-position:  15% center;
	padding-left: 30%;
}
.icon-skype {
	background: #51daf8;
	border-radius: 0 0 5px 5px;
	background-image: url(../img/icon/icon-skype.png);	
	background-repeat: no-repeat;
	background-position:  15% center;
	padding-left: 30%;
}
.dz4-contact_a {
	color: #fff;
	text-decoration: none;
}
.dz4-contact_a:hover {
	border-bottom: 1px solid #fff;
}

.dz4-basis-div {
	float: right;
	width: 650px;
}
.dz4-basis-conteiner {	
	background: #eff3f7;
	border-radius: 5px;
	margin-bottom: 25px;
}
.dz4-basis-conteiner__infa {	
	padding: 22px 22px 44px 22px;
	overflow: hidden;
	margin-bottom: 25px;
}
 .dz4-basis-conteiner__header {
	 color: #3ba8c0;
	 font-size: 24px;
	 position: relative;
	 display: inline-block;
	 padding: 22px 22px 21px 26px;
	 border-bottom: 2px solid #3ba8c0;
 }
.dz4_photo {
	float: left;
	margin-right: 15px;
	margin-top: 15px;
	width: 180px;
	height: 180px;
	margin-left: 15px;
	border-radius: 50%;
	border: 6px solid #30a6bd;
}
.dz4-about {
	font-weight: bold;
	float: left;	
	font-size: 14px;
	width: 380px;
	list-style: none;
	padding: 0;
	margin: 0;	
}
.dz4-about_key-navok {
	margin-top: 0;
	margin-bottom: 17px;
	position: relative;
}
.dz4-about__navok {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dz4-about--title {
	white-space: nowrap;
	display: table-cell;
	vertical-align: top;
	padding-right: 19px;
}
.dz4-about--body {
	display: table-cell;
	vertical-align: top;
	font-weight: 100;
}

.lable_navok {
	list-style: none;
	display: inline-block;
	margin: 0 !important;
	padding: 0 !important;
}
.dz4-navok__lable {
	display: block;
	padding: 4px 14px;
	border-radius: 2px;
	margin: 0 !important;
	margin-bottom: 5px !important;
	color: #fff;
	background: rgba(59,168,192,1);
	background: -moz-linear-gradient(top, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 71%, rgba(46,141,162,1) 100%);
	background: -webkit-linear-gradient(top, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 71%, rgba(46,141,162,1) 100%);
	background: -o-linear-gradient(top, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 71%, rgba(46,141,162,1) 100%);
	background: -ms-linear-gradient(top, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 71%, rgba(46,141,162,1) 100%);
	background: linear-gradient(to bottom, rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,141,162,1) 51%, rgba(46,141,162,1) 71%, rgba(46,141,162,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8da2', GradientType=0 );
}
.dz4-work-conteiner {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dz4-work__icon {
	padding: 15px 0 15px 50px;
	margin-bottom: 26px;
}
.dz4-work__icon:last-child{
	margin-bottom: 0px;
}
.work {	
	background: url("../img/icon/icon-work.png") no-repeat left center;

}
.teach {
	background: url("../img/icon/icon-study.png") no-repeat left center;
}
.cours {
	background: url("../img/icon/icon-cours.png") no-repeat left center;
}
.dz4-work__bold-text {
	font-weight: bold;
}
.footer {
	margin-top: 0;
	position: relative;
}
 .footer:before {
	 width: 100%;
	 height: 3px;
	 position: absolute;
	 top:0;
	 background: rgba(231,239,243,1);
	 background: -moz-linear-gradient(left, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 background: -webkit-linear-gradient(left, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 background: -o-linear-gradient(left, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 background: -ms-linear-gradient(left, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 background: linear-gradient(to right, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eff3', endColorstr='#e7eff3', GradientType=1 );
 }
 .header:after {
	 width: 100%;
	 height: 3px;
	 display: block;
	 position: absolute;
	 bottom: 0;
	 content: "";
	 background: rgba(231,239,243,1);
	 background: -moz-linear-gradient(left, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 background: -webkit-linear-gradient(left, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 background: -o-linear-gradient(left, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 background: -ms-linear-gradient(left, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 background: linear-gradient(to right, rgba(231,239,243,1) 0%, rgba(34,106,126,1) 51%, rgba(231,239,243,1) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eff3', endColorstr='#e7eff3', GradientType=1 );
 }
 .icon-bloak {
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 32px;
	background: url(../img/icon/icon_enter.png) 0px 0px;
	background-size: cover;
	float: left;
}
.icon-bloak:hover {
	width: 20px;
	height: 32px;
	background: url(../img/icon/icon_enter.png) -23px 0px;
	background-size: cover;
}
.dz-footer__p-small-c {
	float: right;
	margin-top: 0;
	margin-right: 15%;
}

/*Примеры работ*/
.photo-galler_basis_list {
	padding: 0;
	margin: 0;
}
.photo-galler_basis_list-element {
	list-style: none;
	float: left;
	text-align: center;
	padding: 0;
	display: inline-table;
	margin: 2% 2%;
	width: 29.333%;
}
 .photo-galler_basis_list-element:nth-child(3n+1) {
	clear: left;
 }
 .photo-galler_basis_list-element a {
	color: #4a545d;
	text-decoration: none;
}
.photo-gallery__img {
	border-radius: 5px;
	border: 2px solid #30a6bd;
	width: 100%;
	height: 100%;
}
.photo-gallery__add {
	border: 1px dashed #30a6bd;
	background: #edf8fc;
	padding: 21% 0 21% 0;
	text-align: center;
	font-size: 0.8em;
	color: #3ba8c0;
}
.photo-gallery-title {
	margin: 10px 0;
	color: #30a6bd;
	font-size: 12px;
	font-style: italic;
}
.photo-gallery-about {
	margin: 0;
}
.photo-gallery__block-img {
	position: relative;
}
.dz4-photo-gallery_block_hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4px;
  width: 100%;
  border-radius: 5px;
  background: rgba(59,168,192,.8);
  opacity: 0;
  padding: 25% 0 !important;
  border: 2px solid #30a6bd;
  text-align: center;
}
.dz4-photo-gallery_block_hover-text{
	position: relative;
	margin-top: 40% !important;
	color: #fff;
	padding: 2px;
	border: 3px solid #fff;
	border-radius: 5px;
}
.photo-gallery__block-img:hover .dz4-photo-gallery_block_hover {
  opacity: 1;
}

/*Форма загрузки файла*/
 .form-file{
	 position: absolute;
	 top:0;
	 opacity: 0;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 cursor: pointer;
	 width: 100%;
	 height: 100%;
 }
 .dz4-imput-add-form{
	 position: relative;
	 cursor: pointer;
	 background: #fff;
 }
 .dz4-button-add {
	 position: absolute;
	 right: 0;
	 top:0;
	 width: 51px;
	 height: 100%;
	 padding: 0 !important;
	 background: url(../img/icon/icon-add_clowd.png);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-color:  #48cbe8;
 }

 .dz4-input-file-name{
	 color: #a9aeb9;
 }

 /*конец Форма загрузки файла*/
/*Button*/
.dz4-button {
	border-radius: 5px;
	border: none;
	padding: 8px 23px;
}
.dz4-button-blue {	
	background: #48cbe8;	
	border-bottom: 3px solid #3ba8c0;
	color: #fff;	
}
.dz4-button-gray {
	background: #849db5;
	border-bottom: 3px solid #687b8f;
	color: #fff;
	float: right;
}

/*authorization*/
.dz-content-authorization {
	width: 30%;
	max-width: 400px;
	min-width: 250px;
	margin: 0 auto;
	text-align: center;
	margin-top: 10%;
}
.dz4-form-authorization__header {
	background: #48cbe8;	
	border-bottom: 17px solid #67dffa;
	color: #fff;
	font-size: 24px;
	padding: 30px 0;
	border-radius: 5px 5px 0 0;
}
.dz4-form-authorization__body {
	background: #eff3f7;
	width: 100%;
	padding: 26px 0;
	border-radius:  0 0 5px 5px;
}
.dz4-form-authorization__form-group, .dz4-form-popup__form-group {
	margin-bottom: 25px;
}

.dz4-form-authorization__form-group label, .dz4-form-popup__form-group label {
	display: block;
	margin-bottom: 5px;
}

.dz4-form-authorization__form-group > .dz4-form-control {
	width: 80% !important;
}
.dz4-form-popup__form-group > .dz4-form-control {
	width: 90%;
}


.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: absolute;
    top: 0px;
    visibility: hidden;
}
.dz4-form-popup__form-group {
	text-align: left;
}
.dz4-window-popup {
	width: 60%;
	max-width: 350px;
	margin: 5% auto;
}
.dz4-header-popup {
	overflow: hidden;
	background: #48cbe8;
	border-bottom: 17px solid #67dffa;
	color: #fff;
	font-size: 1.2em;
	padding: 14px 10px;
	border-radius: 5px 5px 0 0;
}
.button_close_popup {
	background: url(../img/icon/icon-close.png) no-repeat;
	width: 24px;
	height: 24px;
	background-size: cover;
	float: right;
}
.dz4-body-popup {
	text-align: center;
	background: #eff3f7;
	padding: 14px 20px;
	border-radius: 0 0 5px 5px;
}

.dz4-input_input-img {
	padding: 0;
	overflow: hidden;
	position: relative;
	width: 95% !important;
}
.dz4-form-control--input {
	border: 0;
	height: 100%;
	width: 90%;
	padding: 14px 10px;
	border-radius: 5px 0 0 5px;
	margin-right: 0;
}
.dz4-form-control--input:focus {
	outline: none;
	border: none;
}
.dz4-button-add--file {
	background: #48cbe8;
	border-radius: 0 5px 5px 0;
	border: none;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 55px;
}


/*footer*/
 .wrapper {
	 position: relative;
	 min-height: 100%;
	 height: auto!important;
	 overflow: hidden;
 }
 .wrapper:after {
	 content: "";
	 display: block;
	 height: 80px;
 }
.page-footer {
	height: 80px;
	margin-top: -80px;
}


 /*clearfix*/
 .clearfix:before, .clearfix:after {
	 content: "";
	 display: table;
 }
 .clearfix:after {
	 clear: both;
 }